body {
  padding:15px;
  padding-top:15px;
  background-color:#D3D3D3;
}

h6 {
  font-weight: bold;
  font-size:1.2em;
}

p {
  font-size:1.1em;
}

a {
  color:#ff6f00!important;
}

.col {
  padding:0;
}

.dot {
  display:inline-block;
  width:12px;
  height:12px;
  border-radius: 50%; 
  border:2px solid black;
  margin-right:3px;
  margin-top:5px;
}

.filled {

}

